.app {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
  padding: 32px;
}

h1 {
  font-size: 32px;
  color: #fff;
}

.image-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
